<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        {{if .ErrorMessage}}
        <p class="error-message">{{.ErrorMessage}}</p>
        {{end}}
        <form action="/signup" method="POST">
            <select name="user_type" id="user_type" required>
                <option value="" disabled selected hidden>Select User Type</option>
                <option value="seller">Seller</option>
                <option value="purchaser">Purchaser</option>
            </select>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>
